
/* Página estática e limpa */
body {
  margin: 0;
  padding: 0;
  background: #000;
  font-family: "Inter", sans-serif;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

/* Container fixo no topo */
#root {
  width: 100%;
  max-width: 600px;
  background: #000;
  border-radius: 10px;
  padding: 2rem;
  color: #fff;
}

/* Logo */
.logo {
  display: block;
  height: 80px;
  margin-bottom: 1.5rem;
}

/* Formulário */
form {
  display: block;
}

/* Labels e Inputs */
label {
  display: block;
  font-weight: 600;
  color: #ccc;
  margin: 1rem 0 0.3rem;
}

input,
textarea,
select {
  width: 100%;
  padding: 0.8rem;
  border: 1px solid #333;
  border-radius: 6px;
  background: #fff;
  color: #000;
  font-size: 1rem;
}

/* Botão */
button {
  display: block;
  width: 100%;
  background: #646cff;
  color: #fff;
  font-weight: 600;
  border: none;
  border-radius: 6px;
  padding: 0.8rem;
  margin-top: 1.2rem;
}

/* Rodapé */
.read-the-docs {
  margin-top: 1.5rem;
  color: #888;
  text-align: center;
  font-size: 0.9rem;
}
